@charset "utf-8";
/* CSS Document */



/* clearfix */

.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}

/* 画像センタリング */

.cr {margin:0 auto;}

/* 点滅 */
.blinking{
    animation:blink 3s infinite alternate;
}

@keyframes blink{
  0% {opacity: 1;}
  50% {opacity: 1;}
  50.01% {opacity: 0;}
  100% {opacity: 0;
  }
}

/* FireFoxFadeブレ防止 */

img { display:block; box-shadow: #000 0 0 0; }


/* ページトップ */

#page-top {
	position: fixed;
	bottom: 24px;
	right: 40px;
	width:50px;
	border-radius:10px;
	z-index:550;
}
#page-top a {
	background: #5d90cc;
	width:50px;
	height:50px;
	border-radius:25px;
	display:block;
	margin-bottom:12px;
	transition:all 0.3s;
	line-height:50px;
	font-size:3rem;
	color:#fff;
}

#page-top a:hover {
	transform: scale(1.2);
}

/* テキストカラー */

.c_red {color:red;}
.c_yellow {color:yellow;}
.c_green {color:forestgreen;}
.c_blue {color:deepskyblue;}
.c_purple {color:rebeccapurple;}

strong {font-weight:bold;}

/* 全体・枠作り・トップページ */

html,body {
	height:100%;
}

html {
	font-size:62.5%;
}

img { display:block; }


body {
	font-family:"微软雅黑", Verdana, sans-serif;
	text-align:center;
	min-width: 1000px;
	font-size: 1.0rem;
}

#PageWrapper {
	min-width:1000px;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	position: relative;
	width:100%;
}

body#Index #PageWrapper {
	background:url("mainvisual.jpg")/*tpa=http://www.miragesoft.jp/product/koiflag/img/mainvisual.jpg*/ center 70px no-repeat;
	background-size:cover;
	background-attachment: fixed;
}

body#Sub #PageWrapper {
	background:url("mainvisual_blur.jpg")/*tpa=http://www.miragesoft.jp/product/koiflag/img/mainvisual_blur.jpg*/ center 70px no-repeat;
	background-size:cover;
	background-attachment: fixed;
}

header {
	background:url("5fd2b030ly1g4ixhos6alj202a01z0sn.jpg")/*tpa=http://www.miragesoft.jp/product/koiflag/img/mainvisual_blur.jpg*/ left top repeat;
	width:100%;
	height:71px;
	position: fixed;
	top:0;
	head:0;
	z-index: 100;
}

.menu_wrap {
	width:1000px;
	height:71px;
	margin:0 auto;
	position:relative;
}

.mobile_hun {
	display: none;
}

.top_logo {
	background:url("menu_logo.png")/*tpa=http://www.miragesoft.jp/product/koiflag/img/menu_logo.png*/ left top no-repeat;
	width:140px;
	height:100px;
	position:absolute;
	left:0;
	top:0;
	overflow: hidden;
	text-indent: -9999px;
}

.top_menu {
	position: absolute;
	right:0;
	top:0;
}

.top_menu ul li {
	float:left;
	height:71px;
}

.top_menu ul li a {
	display: block;
	height:71px;
	overflow: hidden;
	text-indent: -9999px;
	transition: all 0.3s;
}

.menu_01 {background:url("menu_01.png") left center no-repeat;width:98px;}
.menu_02 {background:url("menu_02.png") left center no-repeat;width:90px;}
.menu_03 {background:url("menu_03.png") left center no-repeat;width:135px;}
.menu_04 {background:url("menu_04.png") left center no-repeat;width:120px;}
.menu_05 {background:url("menu_05.png") left center no-repeat;width:85px;}
.menu_06 {background:url("menu_06.png") left center no-repeat;width:125px;}
.menu_07 {background:url("menu_07.png") left center no-repeat;width:160px;}

.top_menu ul li a:hover {
	background-position:0 10px ;
}

#Mainvisual {
	width:100%;
	height:820px;
	background:url("overtxt.png") center top no-repeat;
	position: relative;
}

.overbanner_left {
	width:200px;
	height:200px;
	position:absolute;
	left:50%;
	margin-left:-500px;
	bottom:16px;
}

.overbanner_left a img {
	width:100%;
	transition: all 0.3s;
}

.overbanner_left a:hover img {
	margin-top:-10px;
}

.overbanner_left2 {
	width:340px;
	height:340px;
	position:absolute;
	left:50%;
	margin-left:-520px;
	bottom:16px;
}

.overbanner_left2 a img {
	width:100%;
	transition: all 0.3s;
}

.overbanner_left2 a:hover img {
	margin-top:-10px;
}

.overbanner_right {
	width:200px;
	height:200px;
	position:absolute;
	right:50%;
	margin-right:-500px;
	bottom:16px;
}


.overbanner_right a img {
	width:100%;
	transition: all 0.3s;
}

.overbanner_right a:hover img {
	margin-top:-10px;
}

.overbanner_right2 {
	width:400px;
	height:400px;
	position:absolute;
	right:50%;
	margin-right:-550px;
	bottom:16px;
}

.overbanner_right2 a:hover img {
	margin-top:-10px;
}

.overbanner_right2 a img {
	width:100%;
	transition: all 0.3s;
}

#Index_Contents {
	width:100%;
	background:url("white_bg.png")/*tpa=http://www.miragesoft.jp/product/koiflag/img/white_bg.png*/ left top repeat;
	min-height: 800px;
	padding-bottom:88px;
}

body#Sub #Index_Contents {
	padding-top:48px;
}

#Topics {
	width:1000px;
	margin:0 auto;
	padding-top:36px;
}

.topics_large {
	width:990px;
	height:160px;
	background:#fff;
	border-radius: 10px;
	border:5px solid #fff;
	box-shadow:0 5px 5px rgba(152,96,73,0.5);
	margin-bottom:24px;
	transition: all 0.3s;
	position: relative;
}

.topics_large a {
	width:990px;
	height:160px;
	overflow: hidden;
	border-radius: 10px;
	display: block;
}

.topics_large a img {
	transition: all 0.3s;
}

.topics_large a:hover img {
	opacity: 0.7;
}

.topics_middle {
	margin-right:-20px;
	margin-bottom:12px;
}

.topics {
	width:480px;
	height:160px;
	background:#fff;
	border-radius: 10px;
	border:5px solid #fff;
	float:left;
	box-shadow:0 5px 5px rgba(152,96,73,0.5);
	margin-right:20px;
	margin-bottom:24px;
	position: relative;
}

.topics a {
	width:480px;
	height:160px;
	overflow: hidden;
	border-radius: 10px;
	display: block;
}

.topics a img {
	transition: all 0.3s;
}

.topics a:hover img {
	opacity: 0.7;
}

.new {
	background:url("new.png")/*tpa=http://www.miragesoft.jp/product/koiflag/topics/new.png*/ left top no-repeat;
	width:58px;
	height:58px;
	position: absolute;
	left:-16px;
	top:-16px;
}

#Update_information {
	width:936px;
	padding:0 22px;
	background:url("5fd2b030gy1fnarhz8hxzj202s02s3yh.png")/*tpa=http://www.miragesoft.jp/product/koiflag/img/http://ww1.sinaimg.cn/large/5fd2b030gy1fnarhz8hxzj202s02s3yh.jpg*/ left top repeat;
	border-radius: 15px;
	border:10px solid #e7dbc7;
	margin:0 auto;
	box-shadow:0 5px 5px rgba(152,96,73,0.5);
}

#Update_information h3 {
	background:url("info_title.png")/*tpa=http://www.miragesoft.jp/product/koiflag/img/info_title.png*/ left top no-repeat;
	width:863px;
	height:32px;
	text-indent: -9999px;
	overflow: hidden;
	margin:16px auto 24px;
}

#Update_wrap {
	margin-right:-36px;
	background:url("logo_watermark.png")/*tpa=http://www.miragesoft.jp/product/koiflag/img/logo_watermark.png*/ right 36px bottom 32px no-repeat;
}

.oneday {
	width:442px;
	height:146px;
	border-right:8px solid #cebc9d;
	border-bottom:8px solid #cebc9d;
	margin-right:36px;
	margin-bottom:32px;
	overflow: hidden;
	position:relative;
	float:left;
	background:url("https://tva1.sinaimg.cn/large/5fd2b030gy1fnarhz8hxzj202s02s3yh.jpg")/*tpa=http://www.miragesoft.jp/product/koiflag/img/http://ww1.sinaimg.cn/large/5fd2b030gy1fnarhz8hxzj202s02s3yh.jpg*/ left top repeat;
}

.oneday .day_icon {
	width:130px;
	height:130px;
}

.oneday .day_icon img {
	width:100%;
}

.oneday .day_text {
	position: absolute;
	width:290px;
	height:146px;
	background:url("oneday_bottom.png")/*tpa=http://www.miragesoft.jp/product/koiflag/img/oneday_bottom.png*/ right bottom no-repeat;
	right:0;
	bottom:0;
	font-size:1.4rem;
	text-align: left;
	color:#986049;
}

.oneday .day_text h4 {
	background:url("log_border.png")/*tpa=http://www.miragesoft.jp/product/koiflag/img/log_border.png*/ left bottom repeat-x;
	height:32px;
	font-family: 'Sigmar One', cursive;
	font-size:2.4rem;
	line-height: 24px;
	display: block;
	width:280px;
}

.oneday .day_text p {
	width:280px;
	display: inline-block;
	line-height: 1.8;
	margin:8px 0;
}

.foot_space {
	width:100%;
	height:201px;
}

footer {
	width:100%;
	height:201px;
	background:url("./image/db.jpg")/*tpa=http://www.miragesoft.jp/product/koiflag/img/foot_bg.jpg*/ left top repeat;
	position: absolute;
	bottom: 0;
	*left:-1px;
	color:#fff;
	font-size:1.6em;
}

.foot_wrap {
	width:1000px;
	height:201px;
	margin:0 auto;
	position:relative;
}

.foot_sd {
	background:url("foot_sd.png")/*tpa=http://www.miragesoft.jp/product/koiflag/img/foot_sd.png*/ left center no-repeat;
	width:340px;
	height:201px;
	position:relative;
}

.foot_banner {
	width:200px;
	height:40px;
	margin:0 auto 18px;
	position:absolute;
	left:70px;
	bottom:28px;
}

.copyright {
	width:340px;
	text-align: center;
	color:#fff;
	position: absolute;
	left:0;
	bottom:20px;
	font-size:1.2rem;
}

.ftable {
	font-size:1.2rem;
	line-height: 1.7;
	color:#fff;
}

.ftable dl dt {
	color:#ffcc00;
	float:left;
	text-align: right;
}

.ftable dl dd {
	float:left;
	text-align: left;
}

.ftable dl:before,
.ftable dl:after {
	content: " ";
    display: table;
}

.ftable dl:after {
	clear:both;
}

.ftable_1 {
	width:220px;
	position:absolute;
	left:360px;
	top:16px;
}

.ftable_2 {
	width:480px;
	position:absolute;
	left:580px;
	top:16px;
}

.foot_banner a img {
	width:100%;
	transition:all 0.3s;
}

.foot_banner a:hover img {
	opacity: 0.7;
}

/* サブページ汎用CSS */

.readybox {
	background:url("ready.png")/*tpa=http://www.miragesoft.jp/product/koiflag/img/sub/ready.png*/ left top no-repeat;
	width:300px;
	height:300px;
	margin:54px auto 0;
}

#Subhead {
	width:100%;
	height:200px;
	position: relative;
}

.head_green {background:url("head_green.jpg")/*tpa=http://www.miragesoft.jp/product/koiflag/img/sub/head_green.jpg*/ left top repeat;}
.head_pink {background:url("head_pink.jpg")/*tpa=http://www.miragesoft.jp/product/koiflag/img/sub/head_pink.jpg*/ left top repeat;}
.head_orange {background:url("head_orange.jpg")/*tpa=http://www.miragesoft.jp/product/koiflag/img/sub/head_orange.jpg*/ left top repeat;}
.head_purple {background:url("head_purple.jpg")/*tpa=http://www.miragesoft.jp/product/koiflag/img/sub/head_purple.jpg*/ left top repeat;}

.subtitle {
	width:100%;
	height:200px;
	box-shadow:0 -5px 5px rgba(0,0,0,0.2) inset;
	text-indent: -9999px;
	overflow: hidden;
}

.sub_story {background:url("title_story.png")/*tpa=http://www.miragesoft.jp/product/koiflag/img/sub/title_story.png*/center top no-repeat;}
.sub_character {background:url("title_character.png")/*tpa=http://www.miragesoft.jp/product/koiflag/img/sub/title_character.png*/center top no-repeat;}
.sub_graphic {background:url("title_graphic.png")/*tpa=http://www.miragesoft.jp/product/koiflag/img/sub/title_graphic.png*/center top no-repeat;}
.sub_spec {background:url("title_spec.png")/*tpa=http://www.miragesoft.jp/product/koiflag/img/sub/title_spec.png*/center top no-repeat;}
.sub_download {background:url("title_download.png")/*tpa=http://www.miragesoft.jp/product/koiflag/img/sub/title_download.png*/center top no-repeat;}
.sub_campaign {background:url("title_campaign.png")/*tpa=http://www.miragesoft.jp/product/koiflag/img/sub/title_campaign.png*/center top no-repeat;}

.secondhead {
	width:640px;
	height:130px;
	margin:0 auto 48px;
}

/* ストーリーCSS */

.story_title {
	background:url("story_title.png")/*tpa=http://www.miragesoft.jp/product/koiflag/img/story/story_title.png*/ left bottom no-repeat;
	width:270px;
	height:184px;
	overflow: hidden;
	text-indent: -9999px;
	margin:0 auto 48px;
}

.story_body {
	background:url("story_bg.png")/*tpa=http://www.miragesoft.jp/product/koiflag/img/story/story_bg.png*/ center 54px no-repeat;
	width:100%;
}

.story_txt_01 {
	background:url("story_txt_01.png")/*tpa=http://www.miragesoft.jp/product/koiflag/img/story/story_txt_01.png*/ center top no-repeat;
	width:100%;
	height:842px;
	text-indent: -9999px;
	overflow: hidden;
	margin-bottom:36px;
}

.story_face {
	background:url("story_face.png")/*tpa=http://www.miragesoft.jp/product/koiflag/img/story/story_face.png*/ center top no-repeat;
	width:100%;
	height:268px;
	margin-bottom:36px;
}

.story_txt_02 {
	background:url("story_txt_02.png")/*tpa=http://www.miragesoft.jp/product/koiflag/img/story/story_txt_02.png*/ center top no-repeat;
	width:100%;
	height:64px;
	text-indent: -9999px;
	overflow: hidden;
}

/* キャラクターCSS */

.chara_grand {
	width:100%;
	height:890px;
	position:relative;
	margin:0 auto 56px;
	z-index:1;
}

.chara_sq {
	width:700px;
	height:700px;
	position:absolute;
	left:50%;
	margin-left:-200px;
	z-index:10;
	top:48px;
	box-shadow:2px 2px 2px rgba(102,90,90,0.2);
}

.chara_catch {
	width:600px;
	height:48px;
	text-indent: -9999px;
	overflow: hidden;
	position:absolute;
	left:50%;
	margin-left:-100px;
	z-index:20;
	top:0;
}

.chara_phrase {
	width:66px;
	height:890px;
	text-indent: -9999px;
	overflow: hidden;
	position:absolute;
	left:50%;
	margin-left:-500px;
	z-index:20;
	top:0;
}

.chara_name {
	width:362px;
	height:157px;
	text-indent: -9999px;
	overflow: hidden;
	position:absolute;
	left:50%;
	margin-left:-150px;
	z-index:20;
	top:54px;
}

.chara_voice {
	position:absolute;
	width:230px;
	left:50%;
	margin-left:-142px;
	z-index:20;
	top:226px;
}

.chara_voice ul li {
	float:left;
	border:2px solid #fff;
	background:#fff;
	border-radius: 5px;
	overflow: hidden;
	margin:0 8px 8px 0;
	box-shadow:2px 2px 2px rgba(102,90,90,0.2);
}

.chara_voice ul li a img {
	transition: all 0.3s;
}

.chara_voice ul li a:hover img {
	opacity: 0.6;
}

.chara_txt {
	width:620px;
	height:349px;
	text-indent: -9999px;
	overflow: hidden;
	position:absolute;
	left:50%;
	margin-left:-150px;
	z-index:20;
	top:332px;
}

.chara_spec {
	width:500px;
	height:30px;
	text-indent: -9999px;
	overflow: hidden;
	position:absolute;
	left:50%;
	margin-left:-70px;
	z-index:20;
	top:700px;
	border-radius: 5px;
	box-shadow:0 0 5px rgba(102,90,90,0.2);
}

.chara_stand {
	width:100%;
	height:890px;

	position:relative;
	z-index:15;
}

.chara_stand ul li {
	width:100%;
	height:890px;
	display: block;
}

.chara_costume {
	width:500px;
	text-align: right;
	position:absolute;
	left:50%;
	top:760px;
	z-index:20;
}

.chara_costume ul {
	display:inline-block;
}

.chara_costume ul li {
	float:left;
	background:#fff;
	overflow: hidden;
	margin:0 0 8px 8px;
	box-shadow:2px 2px 2px rgba(102,90,90,0.2);
}

.chara_costume ul li a img {
	transition: all 0.3s;
}

.chara_costume ul li a:hover img {
	opacity: 0.6;
}

#Chara01 .chara_sq {background:url("chara01_sq.jpg")/*tpa=http://www.miragesoft.jp/product/koiflag/img/character/chara01_sq.jpg*/ left top no-repeat;}
#Chara01 .chara_catch {background:url("chara01_catch.png")/*tpa=http://www.miragesoft.jp/product/koiflag/img/character/chara01_catch.png*/ left top no-repeat;}
#Chara01 .chara_phrase {background:url("chara01_phrase.png")/*tpa=http://www.miragesoft.jp/product/koiflag/img/character/chara01_phrase.png*/ left top no-repeat;}
#Chara01 .chara_name {background:url("chara01_name.png")/*tpa=http://www.miragesoft.jp/product/koiflag/img/character/chara01_name.png*/ left top no-repeat;}
#Chara01 .chara_txt {background:url("chara01_txt.png")/*tpa=http://www.miragesoft.jp/product/koiflag/img/character/chara01_txt.png*/ left top no-repeat;}
#Chara01 .chara_spec {background:url("chara01_spec.png")/*tpa=http://www.miragesoft.jp/product/koiflag/img/character/chara01_spec.png*/ left top no-repeat;}
.stand01_a {background:url("stand_chara01_a.png")/*tpa=http://www.miragesoft.jp/product/koiflag/img/character/stand_chara01_a.png*/ center top no-repeat;}
.stand01_b {background:url("stand_chara01_b.png")/*tpa=http://www.miragesoft.jp/product/koiflag/img/character/stand_chara01_b.png*/ center top no-repeat;}
.stand01_c {background:url("stand_chara01_c.png")/*tpa=http://www.miragesoft.jp/product/koiflag/img/character/stand_chara01_c.png*/ center top no-repeat;}

#Chara02 .chara_sq {background:url("chara02_sq.jpg")/*tpa=http://www.miragesoft.jp/product/koiflag/img/character/chara02_sq.jpg*/ left top no-repeat;}
#Chara02 .chara_catch {background:url("chara02_catch.png")/*tpa=http://www.miragesoft.jp/product/koiflag/img/character/chara02_catch.png*/ left top no-repeat;}
#Chara02 .chara_phrase {background:url("chara02_phrase.png")/*tpa=http://www.miragesoft.jp/product/koiflag/img/character/chara02_phrase.png*/ left top no-repeat;}
#Chara02 .chara_name {background:url("chara02_name.png")/*tpa=http://www.miragesoft.jp/product/koiflag/img/character/chara02_name.png*/ left top no-repeat;}
#Chara02 .chara_txt {background:url("chara02_txt.png")/*tpa=http://www.miragesoft.jp/product/koiflag/img/character/chara02_txt.png*/ left top no-repeat;}
#Chara02 .chara_spec {background:url("chara02_spec.png")/*tpa=http://www.miragesoft.jp/product/koiflag/img/character/chara02_spec.png*/ left top no-repeat;}
.stand02_a {background:url("stand_chara02_a.png")/*tpa=http://www.miragesoft.jp/product/koiflag/img/character/stand_chara02_a.png*/ center top no-repeat;}
.stand02_b {background:url("stand_chara02_b.png")/*tpa=http://www.miragesoft.jp/product/koiflag/img/character/stand_chara02_b.png*/ center top no-repeat;}

#Chara03 .chara_sq {background:url("chara03_sq.jpg")/*tpa=http://www.miragesoft.jp/product/koiflag/img/character/chara03_sq.jpg*/ left top no-repeat;}
#Chara03 .chara_catch {background:url("chara03_catch.png")/*tpa=http://www.miragesoft.jp/product/koiflag/img/character/chara03_catch.png*/ left top no-repeat;}
#Chara03 .chara_phrase {background:url("chara03_phrase.png")/*tpa=http://www.miragesoft.jp/product/koiflag/img/character/chara03_phrase.png*/ left top no-repeat;}
#Chara03 .chara_name {background:url("chara03_name.png")/*tpa=http://www.miragesoft.jp/product/koiflag/img/character/chara03_name.png*/ left top no-repeat;}
#Chara03 .chara_txt {background:url("chara03_txt.png")/*tpa=http://www.miragesoft.jp/product/koiflag/img/character/chara03_txt.png*/ left top no-repeat;}
#Chara03 .chara_spec {background:url("chara03_spec.png")/*tpa=http://www.miragesoft.jp/product/koiflag/img/character/chara03_spec.png*/ left top no-repeat;}
.stand03_a {background:url("stand_chara03_a.png")/*tpa=http://www.miragesoft.jp/product/koiflag/img/character/stand_chara03_a.png*/ center top no-repeat;}

#Chara04 .chara_sq {background:url("chara04_sq.jpg")/*tpa=http://www.miragesoft.jp/product/koiflag/img/character/chara04_sq.jpg*/ left top no-repeat;}
#Chara04 .chara_catch {background:url("chara04_catch.png")/*tpa=http://www.miragesoft.jp/product/koiflag/img/character/chara04_catch.png*/ left top no-repeat;}
#Chara04 .chara_phrase {background:url("chara04_phrase.png")/*tpa=http://www.miragesoft.jp/product/koiflag/img/character/chara04_phrase.png*/ left top no-repeat;}
#Chara04 .chara_name {background:url("chara04_name.png")/*tpa=http://www.miragesoft.jp/product/koiflag/img/character/chara04_name.png*/ left top no-repeat;}
#Chara04 .chara_txt {background:url("chara04_txt.png")/*tpa=http://www.miragesoft.jp/product/koiflag/img/character/chara04_txt.png*/ left top no-repeat;}
#Chara04 .chara_spec {background:url("chara04_spec.png")/*tpa=http://www.miragesoft.jp/product/koiflag/img/character/chara04_spec.png*/ left top no-repeat;}
.stand04_a {background:url("stand_chara04_a.png")/*tpa=http://www.miragesoft.jp/product/koiflag/img/character/stand_chara04_a.png*/ center top no-repeat;}
.stand04_b {background:url("stand_chara04_b.png")/*tpa=http://www.miragesoft.jp/product/koiflag/img/character/stand_chara04_b.png*/ center top no-repeat;}

/* グラフィックCSS */

#Gallery_wrap {
	width:1000px;
	margin:0 auto;
}

#Gallery_wrap ul {
	margin-right:-35px;
	display: block;
}

#Gallery_wrap ul li {
	display: block;
	background:#fff;
	width:302px;
	height:180px;
	padding:4px;
	float:left;
	margin-right:35px;
	margin-bottom:35px;
	border-radius: 10px;
	overflow: hidden;
	box-shadow:0 0 5px rgba(152,96,73,0.5);
	position: relative;
}

#Gallery_wrap ul li a {
	width:302px;
	height:180px;
	display: block;
	border-radius: 7px;
	overflow: hidden;
	transition:all 0.3;
	position: relative;
}

#Gallery_wrap ul li a figcaption {
	width:302px;
	height:180px;
	display: block;
	box-shadow:0 0 0 rgba(255,255,255,1) inset;
	position: absolute;
	left:0;
	top:0;
	transition: all 0.3s;
}

#Gallery_wrap ul li a:hover figcaption {
	box-shadow:0 0 20px rgba(255,255,255,1) inset;
}

/* スペックCSS */

.spec_visual {
	width:890px;
	height:630px;
	padding:10px;
	background-color:rgba(255,255,255,0.9);
	margin:0 auto 36px;
	box-shadow:0 0 5px rgba(0,0,0,0.1);
}

.spec_table {
	text-align: center;
}

.stable1 table {
	display: inline-block;
	border-collapse: separate;
	border-spacing: 24px;
}

.stable1 table tr th {
	font-size:1.4rem;
	line-height: 24px;
	text-align: center;
	background-color:#986049;
	color:#fff;
	border-radius: 16px;
	padding:0 24px;
}

.stable1 table tr td {
	font-size:1.8rem;
	line-height: 24px;
	text-align: left;
	padding-left:24px;
	color:#6A351F;
	font-weight: bold;
}

.stable2 table {
	display: inline-block;
	border-collapse: separate;
	border-spacing: 5px;
	background-color:#F4F4F4;
	width:980px;
}

.stable2 table tr th {
	font-size:1.4rem;
	line-height: 24px;
	text-align: center;
	background-color:#986049;
	color:#fff;
	border-radius: 5px;
	padding:0 24px;
	width:100px;
}

.stable2 table tr td {
	font-size:1.8rem;
	line-height: 24px;
	text-align: center;
	color:#6A351F;
	background-color:#fff;
	width:415px;
	padding:8px 0;
	border-radius: 5px;
}

.stable2 table tr td.yellow {
	background-color:lightyellow;
}

.stable2 table tr td.green {
	background-color:rgba(203,239,203,1.00);
}
 
/* ダウンロードCSS */

.download_txt {
	font-size:1.6rem;
	color:dimgray;
	line-height: 1.6;
	margin:0 auto 36px;
}

.download_txt a {
	color:#e76f90;
	text-decoration: none;
}

.download_txt a:hover {
	text-decoration: underline;
}

.download_image {
	width:800px;
	padding:10px;
	background-color:rgba(255,255,255,0.9);
	margin:0 auto 36px;
	box-shadow:0 0 5px rgba(0,0,0,0.1);
}

.youtube_wrap {
	width:800px;
	padding:10px;
	background-color:rgba(255,255,255,0.9);
	margin:0 auto 36px;
	box-shadow:0 0 5px rgba(0,0,0,0.1);
}

.youtube {
    position: relative;
	width:800px;
    padding-bottom: 452px;
    padding-top: 30px;
    height: 0;
}

.youtube iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.download_table {
	width:100%;
	text-align: center;
	margin:0 auto 64px;
}

.download_table table {
	display: inline-block;
	border-collapse: separate;
	border-spacing: 5px;
	background-color:#F4F4F4;
	width:980px;
}

.download_table table tr th {
	font-size:1.8rem;
	line-height: 24px;
	text-align: left;
	background-color:#fff;
	color:#6A351F;
	border-radius: 5px;
	padding:0 24px;
	width:400px;
}

.download_table table tr td {
	font-size:1.8rem;
	line-height: 24px;
	text-align: center;
	color:#6A351F;
	background-color:#fff;
	width:261px;
	padding:8px 0;
	border-radius: 5px;
}

.download_table table a {
	color:#e76f90;
	text-decoration: none;
}

.download_table table a:hover {
	text-decoration: underline;
}

a.download_button {
	width:200px;
	height:24px;
	background-color:#e76f90;
	display: block;
	margin:0 auto;
	color:#fff!important ;
	text-decoration: none;
	border-radius: 12px;
	overflow: hidden;
	transition:all 0.3s;
}

a:hover.download_button {
	background:#a7d050;
	text-decoration: none!important;
}

.thead {
	background-color:#9c5e4e!important;
	color:#fff!important;
}

/* キャンペーンCSS */

.early_body {
	background:url("early_body.png")/*tpa=http://www.miragesoft.jp/product/koiflag/campaign/early_body.png*/ center top no-repeat;
	width:100%;
	height:867px;
	overflow: hidden;
	text-indent: -9999px;
}

.preorder_body {
	background:url("preorder_body.png")/*tpa=http://www.miragesoft.jp/product/koiflag/campaign/preorder_body.png*/ center top no-repeat;
	width:100%;
	height:760px;
	overflow: hidden;
	text-indent: -9999px;
}

.banner_body {
	background:url("banner_body.png")/*tpa=http://www.miragesoft.jp/product/koiflag/campaign/banner_body.png*/ center top no-repeat;
	width:100%;
	height:760px;
	position: relative;
}

.sppreorder_body {
	background:url("sp_yoyaku.jpg")/*tpa=http://www.miragesoft.jp/product/koiflag/campaign/sp_yoyaku.jpg*/ center top no-repeat;
	width:100%;
	height:1449px;
	overflow: hidden;
	text-indent: -9999px;
}

.banner_body a {
	width:650px;
	height:40px;
	line-height: 40px;
	color:#fff;
	border-radius: 10px;
	font-size:2rem;
	display: block;
	position:absolute;
	top:636px;
	left:50%;
	margin-left:-175px;
	background-color:#eb6e8f;
	text-decoration: none;
	font-weight: bold;
	transition: all 0.3s;
}

.banner_body a:hover {
	background-color:#FFB7CA;
}

.shopbox {
	width:1000px;
	height:740px;
	box-shadow:0 0 5px rgba(152,96,73,0.5);
	margin:0 auto 48px;
	position:relative;
}

.s_sofmap {background:url("sofmap.jpg")/*tpa=http://www.miragesoft.jp/product/koiflag/campaign/shopbonus/sofmap.jpg*/ left top no-repeat;}
.s_getchu {background:url("getchu.jpg")/*tpa=http://www.miragesoft.jp/product/koiflag/campaign/shopbonus/getchu.jpg*/ left top no-repeat;}
.s_melonbooks {background:url("melonbooks.jpg")/*tpa=http://www.miragesoft.jp/product/koiflag/campaign/shopbonus/melonbooks.jpg*/ left top no-repeat;}
.s_trader {background:url("trader.jpg")/*tpa=http://www.miragesoft.jp/product/koiflag/campaign/shopbonus/trader.jpg*/ left top no-repeat;}
.s_toranoana {background:url("toranoana.jpg")/*tpa=http://www.miragesoft.jp/product/koiflag/campaign/shopbonus/toranoana.jpg*/ left top no-repeat;}
.s_fammys {background:url("fammys.jpg")/*tpa=http://www.miragesoft.jp/product/koiflag/campaign/shopbonus/fammys.jpg*/ left top no-repeat;}
.s_amazon {background:url("amazon.jpg")/*tpa=http://www.miragesoft.jp/product/koiflag/campaign/shopbonus/amazon.jpg*/ left top no-repeat;}
.s_official {background:url("official.jpg")/*tpa=http://www.miragesoft.jp/product/koiflag/campaign/shopbonus/official.jpg*/ left top no-repeat;}

.shoplink {
	width:1000px;
	height:40px;
	position: absolute;
	bottom:0;
	left:0;
	background-color:#fff;
}

.shoplink a {
	width:50%;
	height:40px;
	line-height: 40px;
	text-decoration: none;
	color:#fff;
	transition: all 0.3s;
	display: inline-block;
	float:left;
	font-size:1.8rem;
}

.shoplink a:hover {
	opacity: 0.7;
}

.s_sofmap .s_shop {background-color:#00b7ee;}
.s_getchu .s_shop {background-color:#ff0080;}
.s_melonbooks .s_shop {background-color:#32b16c;}
.s_trader .s_shop {background-color:#0011cf;}
.s_toranoana .s_shop {background-color:#ff8327;}
.s_fammys .s_shop {background-color:#e60012;}
.s_amazon .s_shop {background-color:#ffaa11;}
.s_official .s_shop {background-color:#00C;}

.s_ready {background-color:#7B7B7B;}

.s_go {background-color:#F9F;}

.banner_title {
	font-size:3.5em;
	color:#966048;
	width:940px;
	height:50px;
	line-height:50px;
	margin:0 auto 36px;
	border-bottom:1px solid #966048;
	font-family: 'Sigmar One', cursive;
	text-align:center;
}

.urlbox {
	border:0;
	background-color:#ffffff;
	font-size:80%;
	font-family: "Meiryo","MS P Gothic","Osaka",Verdana,Arial, Helvetica, sans-serif;
	color:#460c08;
}

.banner_wrap_header {
	width:740px;
	margin:0 auto 36px;
}

.banbox_header {
	width:350px;
	padding:10px;
	float:left;
	font-size:1.4em;
	color:#f8c100;
}

.banner_wrap_icon {
	width:720px;
	margin:0 auto 36px;
}

.banbox_icon {
	width:160px;
	padding:10px;
	float:left;
	font-size:1.4em;
	color:#f8c100;
}

.banner_wrap250 {
	width:810px;
	margin:0 auto 36px;
}

.banbox_250 {
	width:250px;
	padding:10px;
	float:left;
	font-size:1.4em;
	color:#f8c100;
}

.banbox_250 textarea {
	width:250px;
	height:80px;
	margin-top:8px;
}

.banner_wrap200 {
	width:880px;
	margin:0 auto 36px;
}

.banbox_200 {
	width:200px;
	padding:10px;
	float:left;
	font-size:1.4em;
	color:#f8c100;
}

.banbox_200 textarea {
	width:200px;
	height:40px;
	margin-top:8px;
}

.banner_wrap600 {
	width:640px;
	margin:0 auto 36px;
}

.banbox_600 {
	width:600px;
	padding:10px;
	float:left;
	font-size:1.4em;
	text-align:center;
	color:#f8c100;
}

.banbox_600 textarea {
	width:600px;
	height:60px;
	margin-top:8px;
}

.banner_wrap150 {
	width:680px;
	margin:0 auto 36px;
}

.banbox_150 {
	width:150px;
	padding:10px;
	float:left;
	font-size:1.4em;
	text-align:center;
	color:#f8c100;
}

.banbox_150 textarea {
	width:150px;
	height:100px;
	margin-top:8px;
}





.pop_box {
	width:980px;
	border:10px solid rgba(255,255,255,0.9);
	margin:0 auto 24px;
	border-radius: 10px;
	overflow: hidden;
}

.pop_box img {
	width:100%;
	height:auto;
	border-radius: 5px;
	overflow: hidden;
}

.event_img {
	width:980px;
	border-radius: 5px;
	overflow: hidden;
	margin-top:10px;
}

.event_img img {
	width:100%;
	height:auto;
	border-radius: 5px;
	overflow: hidden;
}

.freetext {
	width:980px;
	border:10px solid rgba(255,255,255,0.9);
	margin:0 auto 24px;
	border-radius: 10px;
	overflow: hidden;
	font-size:1.6rem;
	line-height: 1.5;
	text-align: left;
	background-color:#fff;
	color:dimgray;
}

.freetext p {
	width:94%;
	margin:12px auto;
}

.freetext p a {
	color:dodgerblue;
	text-decoration: none;
}

.freetext p a:hover {
	color:dodgerblue;
	text-decoration: underline;
}














































a .topics_tag p.mirage {background-color:#5d90cc;}
a .topics_tag p.koiflag {background-color:#a9cf52;}
a .topics_tag p.event {background-color:#F39E00;}
a .topics_tag p.ready {background-color:#909090;}

a .topics_txt {
	width:216px;
	padding:8px;
}

a .topics_txt p {
	color:#5d90cc;
	font-size:1.6rem;
	text-decoration: none;
	text-align: left;
}

#Information {
	width:100%;
	padding:54px 0;
	background:url(../img/information_bg.png) left top repeat;
}

.info_area {
	width:1000px;
	margin:0 auto;
	min-height: 200px;
	position:relative;
}

#Information h3 {
	font-family: 'Dosis', sans-serif;
	font-size:3.6rem;
	color:#ffffff;
	text-align: center;
	display: block;
	width:198px;
	height:198px;
	border-radius: 199px;
	border:1px solid #fff;
	position:absolute;
	top:0;
	left:0;
	bottom:0;
	right:0;
	margin:auto auto auto 0;
}

#Information h3 p {
	line-height: 24px;
	display: inline-block;
	text-align: left;
	margin-top:72px;
}

#Information h3 span {
	font-size:1.4rem;
	right:0;
}

.infolog_area {
	width:770px;
	margin-left:230px;
}

.infolog_area dl {
	width:770px;
	line-height: 24px;
	margin-bottom:12px;
	padding-bottom:12px;
	clear:both;
	border-bottom:1px dashed #fff;
}

.infolog_area dl dt {
	width:130px;
	height:24px;
	float:left;
	background-color:white;
	border-radius: 5px;
	text-align: center;
	color:#6196d4;
	font-size:1.4rem;
	font-weight: bold;
}

.infolog_area dl dd {
	width:628px;
	line-height: 24px;
	padding-left:12px;
	float:left;
	font-size:1.6rem;
	text-align: left;
	color:#fff;
}

.backlog_link {
	width:240px;
	height:24px;
	position:absolute;
	bottom:-46px;
	right:0;
}

.backlog_link a {
	color:#fff;
	width:238px;
	height:22px;
	line-height: 22px;
	border:1px solid #fff;
	text-align: center;
	text-decoration: none;
	display: block;
	font-size:1.3rem;
	transition: all 0.3s;
}

.backlog_link a:hover {
	background-color:#fff;
	color:#5d90cc;
}

#Others {
	width:100%;
	padding:54px 0;
	background-color:#e6ecf0;
}

.wrap1k {
	width:1000px;
	margin:0 auto;
}

.twidget {
	padding:24px;
	width:434px;
	height:352px;
	float:left;
	background-color:#fff;
	border-radius: 5px;
	margin-right:36px;
	position:relative;
}

.twidget h4 {
	font-family: 'Dosis', sans-serif;
	font-size:3.6rem;
	color:#1da1f2;
	text-align: left;
	position:relative;
	line-height: 30px;
	padding-left:24px;
	margin-bottom:24px;
}

.twidget h4:before {
	content: "";
	display: block;
	height:30px;
	width:10px;
	background-color:#1da1f2;
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	margin:auto 0;
}

a.twitter_link {
	width:218px;
	height:24px;
	border-radius: 3px;
	border:1px solid #1da1f2;
	display: block;
	position:absolute;
	right:24px;
	top:30px;
	color:#1da1f2;
	font-size:1.4rem;
	line-height: 24px;
	text-decoration: none;
	text-align: center;
	transition: all 0.3s;
}

a:hover.twitter_link {
	background-color:#1da1f2;
	color:#ffffff;
}

.twidget_wrap {
	width:432px;
	height:298px;
	border-left:1px solid #e6ecf0;
	border-right:1px solid #e6ecf0;
}

.index_contents {
	padding:24px;
	width:434px;
	height:352px;
	float:left;
	background-color:#fff;
	border-radius: 5px;
	position:relative;
}

.index_contents h4 {
	font-family: 'Dosis', sans-serif;
	font-size:3.6rem;
	color:#a9cf52;
	text-align: left;
	position:relative;
	line-height: 30px;
	padding-left:24px;
	margin-bottom:24px;
}

.index_contents h4:before {
	content: "";
	display: block;
	height:30px;
	width:10px;
	background-color:#a9cf52;
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	margin:auto 0;
}

.index_contents_wrap {
	width:436px;
	height:298px;
	overflow-y: scroll;
}

.index_contents_wrap ul li {
	margin-bottom:16px;
	width:410px;
}

.index_contents_wrap ul li a img {
	width:100%;
	transition:all 0.3s;
}

.index_contents_wrap ul li a:hover img {
	opacity: 0.7;
}

.foot_space {
	width:100%;
	height:200px;
}




.foot_logo {
	background:url(../img/footlogo.png) left top no-repeat;
	width:170px;
	height:73px;
	margin:16px auto;
}

.foot_banner {
	width:200px;
	height:40px;
	margin:0 auto 18px;
}

.foot_banner a img {
	width:100%;
	transition:all 0.3s;
}

.foot_banner a:hover img {
	opacity: 0.7;
}

.copyright {
	font-family: 'Dosis', sans-serif;
	color:#fff;
}

/* ブランドサブページ */

.subpage_wrap {
	width:100%;
	padding-top:90px;
	background-color:#e6ecf0;
	min-height: 800px;
}

.bg_white {
	width:100%;
	background-color:#fff;
	padding-top:40px;
}

.bg_bluegray {
	width:100%;

}

.category_head {
	width:100%;
	padding:36px 0;
	background:url(../img/subhead_bg.jpg) center center no-repeat;
	background-size:cover;
	box-shadow:0 -5px 5px rgba(0,0,0,0.2) inset;
}

.category_head h3 {
  border-top: 3px solid #ffffff;
  border-bottom: 3px solid #ffffff;
  padding: 5px 20px;
  position: relative;
  width: 300px;
  text-align: center;
  margin: 0 auto;
  color: #ffffff;
  font-weight: bold;
	font-family: 'Sigmar One', cursive;
	font-size:3rem;
	line-height: 12px;
	text-shadow:0 3px 5px rgba(0,0,0,0.2);
}

.category_head h3 span {
	font-size:1.4rem;
}

.category_head h3:before {
  content: "";
  border-left: 3px solid #ffffff;
  border-right: 3px solid #ffffff;
  display: block;
  position: absolute;
  width: calc(100% - 20px);
  height: 76px;
  top: -8px;
  left: 8px;
}

.titlebox {
	background-color:#fff;
	border-radius: 10px;
	padding:10px;
	width:980px;
	margin:0 auto;
	text-align: left;
	    box-shadow: 0 0 16px rgba(0,0,0,.1);
}

.titlebox h4 {
	width:956px;
	margin:0 auto;
	font-weight: bold;
	font-size:1.6rem;
	color:#fff;
	line-height: 32px;
	border-radius: 5px;
	text-align: left;
	padding-left:24px;
	background: -webkit-repeating-linear-gradient(-45deg, #6d9cd4, #6d9cd4 3px,#5d90cc 3px, #5d90cc 7px);
	background: repeating-linear-gradient(-45deg, #6d9cd4, #6d9cd4 3px,#5d90cc 3px, #5d90cc 7px);
}

.titlebox h5 {
	font-size:1.6rem;
	line-height: 1.5;
	padding:0 24px;
	background-color:saddlebrown;
	color:#fff;
	border-radius: 12px;
	text-align: left;
	margin:24px 0 0 24px;
	display: inline-block;
}

.titlebox p.normal {
	font-size:1.6rem;
	line-height: 1.5;
	text-align: left;
	margin:24px auto;
	width:900px;
	display: block;
	color:dimgray;
}

.titlebox p.normal a {
	color:dodgerblue;
	text-decoration: none;
}

.titlebox p.normal a:hover {
	color:dodgerblue;
	text-decoration: underline;
}

.titlebox hr {
	width:900px;
	height:0;
	padding:0;
	border-top: 1px solid #bbb;
	margin:0 auto;
}

.pop_box {
	width:980px;
	border:10px solid rgba(255,255,255,0.9);
	margin:0 auto;
	border-radius: 10px;
	overflow: hidden;
}

.pop_box img {
	width:100%;
	height:auto;
}

.event_img {
	width:980px;
	border-radius: 5px;
	overflow: hidden;
	margin-top:10px;
}

.event_img img {
	width:100%;
	height:auto;
}

.titlebox table {
	width:900px;
	margin:24px auto;
	font-size:1.6rem;
	line-height: 2;
	color:dimgray;
	background-color:rgba(245,245,245,1.00);
	text-align: left;
	box-shadow:0 0 5px rgba(0,0,0,0.1);
	border-collapse: separate;
	border-spacing: 5px;
}

.titlebox table th {
	background-color:rgba(93,144,204,1.00);
	color:#fff;
	padding:8px 12px;
	width:126px;
	position:relative;
}

.titlebox table th:after {
	left: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(136, 183, 213, 0);
    border-left-color: rgba(93,144,204,1.00);
    border-width: 10px;
    margin-top: -10px;
}

.titlebox table td {
	background-color:#ffffff;
	padding:8px 12px;
}

.titlebox table td ul {
	padding-left:24px;
}

.titlebox table td ul li {
	list-style-type: square;
}

.title_banner {
	margin:36px auto;
	width:800px;
	border-radius: 5px;
	overflow: hidden;
}

.title_banner a img {
	opacity: 1;
	transition: all 0.3s;
}

.title_banner a:hover img {
	opacity: 0.7;
}

#Past_records {
	width:100%;
	padding:54px 0;
	background:url(../img/information_bg.png) left top repeat;
}

.info_area {
	width:1000px;
	margin:0 auto;
	min-height: 200px;
	position:relative;
}

body {
	cursor: url('1.cur'), default;
}


.dd{float:left; list-style:none;}



.buttonWrap{width:170px; height:80px; display:block;}

a{text-decoration:none;}

.toggleButton{

display:block;
width:170px;
height:30px;
padding: 12px 0px 12px 0px;
text-size:24px;
            margin: 5px 0px 5px 10px;
font-family:arial, sans-serif;
font-weight:bold;
text-align:center;
color:#FFF;
text-decoration:none;
border-radius:7px; -moz-border-radius:7px;
cursor:pointer;
border:1px solid #05ABE0;
text-shadow:-1px -1px 0px #05ABE0;
background: #87E0FD;
background: -moz-linear-gradient(top, #87E0FD 0%, #53CBF1 40%, #05ABE0 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#87E0FD), color-stop(40%,#53CBF1), color-stop(100%,#05ABE0));
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87E0FD', endColorstr='#05ABE0',GradientType=0 );

}
.toggleButton:active{		
background: #87e0fd;
background: -moz-linear-gradient(top, #05ABE0 0%, #53CBF1 40%, #87E0FD 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#05ABE0), color-stop(40%,#53CBF1), color-stop(100%,#87E0FD));
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#05ABE0', endColorstr='#87E0FD',GradientType=0 );
}
